html, body , #app{
    height: 100%;
}

#app{
    display: grid;
    grid-template-rows: 54px auto  75px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.footer p {
    margin: 0;
}

.btn-max-width{
    max-width: 600px !important;  
}

.redonditos > img{
    width: 150px;
    height: 150px;
    clip-path: circle(50%);
}

.sect-2 > img{
    width: 450px;
    height: auto;
    border-radius: 15px;
}
