html, body , #app{
    height: 100%;
}

#app{
    display: grid;
    grid-template-rows: 54px auto  75px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.footer p {
    margin: 0;
}

.btn-max-width{
    max-width: 600px !important;  
}

.redonditos > img{
    width: 150px;
    height: 150px;
    clip-path: circle(50%);
}

.sect-2 > img{
    width: 450px;
    height: auto;
    border-radius: 15px;
}

.password-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-div>i{
    padding:10px 5px;
}
.password-div>i:hover{
    cursor: pointer;
    background-color: #0003;
    border-radius: 8px;
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dashboard .card-body{
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dashboard .card-body i{
    padding: .5em;
}